<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>聊天入口</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>

    <h1>您好！ <%= userName %> 已登入</h1>

    <hr>
    <div id="status-box">Server: <span id="status">-</span> / <span id="online">0</span> online.</div>
    <a href="/chats/logout">登出</a>
    <hr>

    <form id="createRoom" action="/chats/createRoom" method="POST">
        <label for="">新開聊天室：</label>
        <input type="hidden" name="userName" id="userName" value="<%= userName %>">
        <input type="text" name="roomKey">
        <input type="submit" value="新密碼">
    </form>

    <hr>

    <h3>聊天室列表</h3>
    <input type="hidden" id="countRoomInit" value="<%= roomList.length %>">
    <p>在線房間數 <b id="countRoom"><%= roomList.length %></b></p>
    <% roomList.forEach(key => { %>
    <form id="<%= key %>" action="/chats/createRoom" method="POST">
        <input type="hidden" name="userName" value="<%= userName %>">
        <input type="hidden" name="roomKey" value="<%= key %>">
        <input type="submit" value="進入"> <%= key %> 房
    </form>
    <% }) %>
    <div id="newRoomArea"></div>


    <script>
        const socket = io('/chat')
        // const homeSocket = io('/home')
        document.addEventListener("DOMContentLoaded", () => {

            var status = document.getElementById("status");
            var online = document.getElementById("online");
            var newRoomArea = document.getElementById("newRoomArea");
            var userName = document.getElementById("userName");
            var countRoom = document.getElementById("countRoom");
            var countRoomInit = document.getElementById("countRoomInit");
            
            socket.on("connect", function () {
                status.innerText = "Connected.";
            });

            socket.on("disconnect", function () {
                status.innerText = "Disconnected.";
            });

            socket.on("online", function (amount) {
                online.innerText = amount;
            });

            socket.on("newRoom", async function (key) {
                let addinput = `<input type="hidden" name="userName" value="${userName.value}">
                    <input type="hidden" name="roomKey" value="${key}">
                    <input type="submit" value="進入"> ${key} 房`

                var add = document.createElement("form");
                add.setAttribute("id", key)
                add.setAttribute("action", "/chats/createRoom")
                add.setAttribute("method", "POST")
                add.innerHTML = addinput; 
                                
                newRoomArea.appendChild(add);

                await countRoomInit.value++;
                let reCount = countRoomInit.value

                // var node = document.createElement("b");
                // node.setAttribute("id", "countRoom")

                // var msg = document.createTextNode(reCount);
                // node.appendChild(msg);
                countRoom.innerHTML = reCount;
            });

            socket.on("removeRoom", async function (key) {
                document.getElementById(key).remove();

                await countRoomInit.value--;
                let reCount = countRoomInit.value

                countRoom.innerHTML = reCount;
            });
        })
    </script>
</body>

</html>