<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chatroom</title>
    <script src="/socket.io/socket.io.js"></script>

    <style>
        html,
        body {
            padding: 0;
            margin: 0;
        }

        #container {
            top: 50px;
            width: 500px;
            margin: 0 auto;
            display: block;
            position: relative;
        }

        #status-box {
            text-align: right;
            font-size: .6em;
        }

        #content {
            width: 100%;
            height: 350px;
            border: 1px solid darkolivegreen;
            border-radius: 5px;
            overflow: auto;
        }

        #send-box {
            width: 100%;
            text-align: center;
        }

        #send-box input {
            display: inline-block;
        }

        input[name="name"] {
            width: 15%;
        }

        input[name="msg"] {
            width: 70%;
        }

        input[type="button"] {
            width: 10%;
        }

        .msg {
            width: 73%;
            display: inline-block;
            padding: 5px 0 5px 10px;
        }

        .msg>span {
            width: 25%;
            display: inline-block;
        }

        .msg>span::before {
            color: darkred;
            content: " { ";
        }

        .msg>span::after {
            color: darkred;
            content: " } ";
        }

        #send-box input.error {
            border: 1px solid red;
        }
    </style>

</head>

<body>
    <div id="container">
        <h1>您好！ <%= user %> 已登入</h1>
        <hr>
        <form id="leaveRoom" action="/chats/home" method="post">
            <input type="hidden" name="roomKey" id="roomKey" value="<%= key %>">
            <input type="hidden" name="userName" id="userName" value="<%= user %>">
            <input type="submit" value="離開">
        </form>
        <!-- <a href="/chats/home">離開</a> -->
        <div id="status-box">Server: <span id="status">-</span> / <span id="online">0</span> online.</div>
        RoomKey : <%= key %>
        <!-- <input type="hidden" id="msgs" value="<%= msgs %>"> -->
        <div id="content">
            <% msgs.forEach(msg => { %>
                <div class="msg"><span class="name"><%= msg.name %></span><%= msg.msg %></div>
            <% }) %>

        </div>
        <div id="send-box">
            <form id="send-form">
                <input type="hidden" name="roomKey" id="roomKey" value="<%= key %>">
                <input type="text" name="name" id="name" value="<%= user %>">
                <input type="text" name="msg" id="msg" placeholder="說點什麼？">
                <input type="submit" value="送出">
            </form>
        </div>
    </div>

    <script>
        const key = document.getElementById("roomKey").value;
        console.log(key)
        const socket = io('/chat')
        // const socket = io()

        document.addEventListener("DOMContentLoaded", () => {

            var status = document.getElementById("status");
            var online = document.getElementById("online");
            var sendForm = document.getElementById("send-form");
            var content = document.getElementById("content");
            var msg = document.getElementById("msg");
            var leaveRoom = document.getElementById("leaveRoom");
            var name = document.getElementById("name");

            socket.on("connect", function () {
                var data = {};
                status.innerText = "連線中.";
                data['key'] = key
                data['user'] = name.value
                socket.emit("join", data);
            });

            socket.on("disconnect", function () {
                status.innerText = "失去連線.";
            });

            // socket.on("online", function (amount) {
            //     online.innerText = amount;
            // });

            socket.on("roomOnline", function (peopleCount) {
                online.innerText = peopleCount;
            });

            sendForm.addEventListener("submit", function (e) {
                e.preventDefault();

                var ok = true;
                var formData = {};
                var formChild = sendForm.children;

                for (var i = 0; i < sendForm.childElementCount; i++) {
                    var child = formChild[i];

                    if (child.name !== "") { // btn-submit之外
                        var val = child.value;
                        if (val === "" || !val) {    // 如果值為空或不存在
                            ok = false;
                            child.classList.add("error");
                        } else {
                            child.classList.remove("error");
                            formData[child.name] = val;
                        }
                    }

                }

                if (ok) {
                    // console.log(formData)
                    socket.emit("send", formData);
                    msg.value = ""
                }
            });

            socket.on("msg", function (d) {
                // console.log(d)
                var msgBox = document.createElement("div")
                msgBox.className = "msg";
                var nameBox = document.createElement("span");
                nameBox.className = "name";
                var name = document.createTextNode(d.name);
                var msg = document.createTextNode(d.msg);

                nameBox.appendChild(name);
                msgBox.appendChild(nameBox);
                msgBox.appendChild(msg);
                content.appendChild(msgBox);
            });


            leaveRoom.addEventListener("submit", function (e) {
                e.preventDefault();

                var data = {};
                data['key'] = key
                data['user'] = name.value

                console.log(data)
                socket.emit("leave", data);

                setTimeout(leaveRoom.submit(), 1500);
            });
        });
    </script>
</body>

</html>