<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登入聊天口</title>
</head>

<body>

    <h1>登入窗口</h1>
    <form action="/chats/login" method="post">
        <label for="">帳號</label>
        <input type="text" name="account">
        <label for="">密碼</label>
        <input type="text" name="password">
        <input type="submit" value="登入">
    </form>

</body>
</html>